@*@model CollegeGradingSys.ViewModels.StAcademicDataIndexViewModel
    <div>
        @Html.HiddenFor(p => p.GPA)
        @Html.HiddenFor(p => p.StPersonalData.AcademicID)
        @Html.CheckBoxFor(p => p.IsSelected)
        <input type="submit" value="Compare" />
    </div>*@
