@model CollegeGradingSys.ViewModels.College.CollegeCreateVM

@{
    ViewData["Title"] = "إضافة كلية جديدة";
    ViewData["PageName"] = "إدارة الكليات";
    //ViewData["SubPageName"] = "إضافة كلية جديدة";
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="row">
                <div class="col-md-6 px-0 offset-md-3">
                    <div class="card">
                        <div class="card-header ui-sortable-handle" style="cursor: move;">
                            <h3 class="card-title">
                                إضافة كلية جديدة
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="CollegeName" class="control-label "></label>
                                    <input asp-for="CollegeName" class="form-control  m-2" placeholder="ادخل اسم الكلية" />
                                    <span asp-validation-for="CollegeName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            
                                <input type="submit" value="إضافة" class="btn col-2 btn-success btn-sm" />
                                <a class="btn btn-secondary  btn-sm" asp-action="Index">القائمة الرئسية</a>
                         
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
