@model CollegeGradingSys.Models.College

@{
    ViewData["Title"] = "التعديل";
    ViewData["PageName"] = "إدارة الكليات";
    //ViewData["SubPageName"] = "التعديل";
}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-6 px-0 offset-md-3">
                    <div class="card">
                        <div class="card-header ui-sortable-handle" style="cursor: move;">
                            <h3 class="card-title">
                                التعديل
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="CollegeName" class="control-label"></label>
                                    <input asp-for="CollegeName" class="form-control  mb-2" />
                                    <span asp-validation-for="CollegeName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                           
                                <input type="submit" value="حفظ" class="col-2 btn btn-success btn-sm" />
                                <a class="btn btn-secondary  btn-sm" asp-action="Index">القائمة الرئسية</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
