@model IEnumerable<CollegeGradingSys.Models.College>

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "إدارة الكليات";
    ViewData["PageName"] = "إدارة الكليات";
    ViewData["SubPageName"] = "القائمة الرئسية";
}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <p>
            @if ((await authorizationService.AuthorizeAsync(User, "CreateCollegePolicy")).Succeeded)
            {
                <a asp-action="Create" class="btn btn-secondary  col-2 btn-sm "><i class="fas fa-plus mr-3"></i>جديد</a>
            }

        </p>
        <div class="card  col-md-8 mb-4">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 60%;">
                                @Html.DisplayNameFor(model => model.CollegeName)
                            </th>
                            <th style="width: 40%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center td-font-size">
                                    @Html.DisplayFor(modelItem => item.CollegeName)
                                </td>
                                <td class="text-center">
                                    @if ((await authorizationService.AuthorizeAsync(User, "EditCollegePolicy")).Succeeded)
                                    {
                                        <a asp-action="Edit" class="btn btn-outline-success btn-sm align-self-center" asp-route-id="@item.Id">
                                            <i class="fas fa-edit" width="17" height="17"></i>
                                        </a>
                                    }
                                    @if ((await authorizationService.AuthorizeAsync(User, "DeleteCollegePolicy")).Succeeded)
                                    {
                                        <a asp-action="Delete" class="btn btn-outline-danger btn-sm align-self-center" asp-route-id="@item.Id">
                                            <i class="fas fa-trash-alt" width="17" height="17"></i>
                                        </a>
                                    }                                  
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>