@model CollegeGradingSys.Models.StHighSchoolData

@{
    ViewData["Title"] = "Create";
}
<!-- Modal -->
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel">إضافة بيانات الثانوية</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <hr />
            <div class="modal-body">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="AcademicID" class="control-label"></label>
                            <input asp-for="AcademicID" readonly class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="CertificateType" class="control-label"></label>
                            <select asp-for="CertificateType" class="form-control text-center"
                                    asp-items="Html.GetEnumSelectList<CertificateType>()"></select>
                            <span asp-validation-for="CertificateType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Average" class="control-label"></label>
                            <input asp-for="Average" class="form-control" />
                            <span asp-validation-for="Average" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Source" class="control-label"></label>
                            <input asp-for="Source" class="form-control" />
                            <span asp-validation-for="Source" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeatNo" class="control-label"></label>
                            <input asp-for="SeatNo" class="form-control" />
                            <span asp-validation-for="SeatNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CertificateYear" class="control-label"></label>
                            <input asp-for="CertificateYear" class="form-control" />
                            <span asp-validation-for="CertificateYear" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HighSchoolName" class="control-label"></label>
                            <input asp-for="HighSchoolName" class="form-control" />
                            <span asp-validation-for="HighSchoolName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Note" class="control-label"></label>
                            <input asp-for="Note" class="form-control" />
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء الأمر</button>
                <button type="button" class="btn btn-primary" data-save="modal">حفظ</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
