@using CollegeGradingSys.Models.Enums
@model CollegeGradingSys.ViewModels.StPersonalDataViewModel


<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Create</h1>

                <h4>StPersonalDataViewCreateModel</h4>
                <hr />

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="AcademicID" class="control-label"></label>
                                <input asp-for="AcademicID" class="form-control" />
                                <span asp-validation-for="AcademicID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="StName" class="control-label"></label>
                                <input asp-for="StName" class="form-control" />
                                <span asp-validation-for="StName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdentificatioNO" class="control-label"></label>
                                <input asp-for="IdentificatioNO" class="form-control" />
                                <span asp-validation-for="IdentificatioNO" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Sex" class="control-label"></label>
                                <select asp-for="Sex" class="form-control text-center"
                                        asp-items="Html.GetEnumSelectList<Sex>()"></select>
                                <span asp-validation-for="Sex" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NationalityId" class="control-label"></label>
                                @*<select asp-for="NationalityId" class="form-control text-center"
                                        asp-items="@(new SelectList(Model.Nationalities," Id","NationalityName"))"></select>*@
                                <span asp-validation-for="NationalityId" class="text-danger"></span>
                            </div>

                            <div>
                                <div class="form-group col-md-4">
                                    <label asp-for="BirthPlaceId" class="control-label"></label>
                                    @*<select id="CounteryList" asp-for="BirthPlaceId" class="form-control text-center "
                                            asp-items="@(new SelectList(Model.Nationalities," Id","CountryName"))"></select>*@
                                    <span asp-validation-for="BirthPlaceId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="GovernorateId" class="control-label"></label>
                                    @*<select id="GovernorateList" asp-for="GovernorateId" class="form-control text-center"
                                            asp-items="@(new SelectList(Model.Governorates," Id","GovernorateName"))">
                                    </select>*@
                                    <span asp-validation-for="GovernorateId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="BirthDate" class="control-label"></label>
                                <input asp-for="BirthDate" type="date" class="form-control text-center" />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EnrollmentYearM" class="control-label"></label>
                                <input asp-for="EnrollmentYearM" class="form-control text-center" />
                                <span asp-validation-for="EnrollmentYearM" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EnrollmentYearH" class="control-label"></label>
                                <input asp-for="EnrollmentYearH" class="form-control text-center" />
                                <span asp-validation-for="EnrollmentYearH" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(document).ready(function () {
        $("#CounteryList").on("change", function () {
            var url = '@Url.Content("~/")' + "StPersonalData/GetGovernorate";
            var ddlsource = "#CounteryList";
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#GovernorateList").empty();
                $.each(data, function (i, row) {
                    items += "<option value='" + row.value + "'>" + row.text + "</option>";
                });
                $("#GovernorateList").html(items);
            })
        })
    })
    </script>
}
