@model CollegeGradingSys.Models.StAcademicData

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StAcademicData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StLevel" class="control-label"></label>
                <select asp-for="StLevel" class="form-control"></select>
                <span asp-validation-for="StLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>
                <input asp-for="Term" class="form-control" />
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StStatus" class="control-label"></label>
                <select asp-for="StStatus" class="form-control"></select>
                <span asp-validation-for="StStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Average" class="control-label"></label>
                <input asp-for="Average" class="form-control" />
                <span asp-validation-for="Average" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPA" class="control-label"></label>
                <input asp-for="GPA" class="form-control" />
                <span asp-validation-for="GPA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valuation" class="control-label"></label>
                <select asp-for="Valuation" class="form-control"></select>
                <span asp-validation-for="Valuation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCurrentYear" /> @Html.DisplayNameFor(model => model.IsCurrentYear)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
