@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="image">
        <img src="~/admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        @* <a href="#" class="">Alexander Pierce</a>*@
        <a class="nav-link text-light py-0" style="font-size:small" title="Manage">@User.Identity.Name</a>
        <form method="post" class="form-inline" asp-action="logout" asp-controller="Account">
            <button type="submit" class="nav-link btn btn-link py-0 text-light" style="font-size:small">تسجيل الخروج</button>
        </form>
    </div>

}
else
{
    <div class="image">
        <img src="~/admin/dist/img/login_Icon.png" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        @* <a href="#" class="">Alexander Pierce</a>*@
        <a class="nav-link text-light d-block" asp-controller="Account" style="font-size:small" asp-action="login">تسجيل الدخول</a>
    </div>
}