@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<div class="row order-md-last">
    <div class="text-left col-4">
        <h1 class="display-4">الجمهورية العربية</h1>
        <h4>جامعة الايمان</h4>
        <h5>فرع حضرموت</h5>


    </div>
    <div class="text-right col-4">
        <img src="~/images/CollegeIcon.jpg" class="rounded mx-auto d-block" />
    </div>
</div>
