<div class="text-center m-5 ">
    <h1 class="text-danger m-5">لا يمكنك الوصول</h1>
    <h6 class="text-danger m-5">انت لا تملك  صلاحية الوصل الى هذا المصدر</h6>
    <img src="~/images/NoAccess.png" style="height:300px; width:300px" />
</div>