@model cloudscribe.Pagination.Models.PagedResult<Governorate>

@{
    ViewData["Title"] = "إدارة المحافظات /المناطق";
    ViewData["Controller"] = "Governorate";
    ViewData["Action"] = "Index";
}


<div class="card mb-4">

    <div class="card-body">
        <div class="bg-white">
            <h5 class="mb-4">  <span style="margin-left:6px;" data-feather="list"></span>إدارة المحافظات /المناطق</h5>
            <h6 class="m-1">القائمة الرئسية</h6>
            <hr class="mb-4 mt-0">
            <p>
                <a class="btn btn-secondary col-2 btn-sm" asp-action="Create">جديد</a>
            </p>
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>

                        <th>
                            المحافظة/المنطقة
                        </th>
                        <th>
                            الدولة
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GovernorateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nationality.CountryName)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-primary btn-sm align-self-center" asp-route-id="@item.Id">تعديل</a>
                            <a asp-action="Delete" class="btn btn-danger btn-sm align-self-center" asp-route-id="@item.Id">حذف</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <partial name="_PaginationPartial" model="Model" view-data="ViewData" />


        </div>
    </div>
</div>
